<h1>Flashcard Details</h1>

<div class="flashcard-details">
  <p><strong>Question:</strong> <%= @flashcard.question %></p>
  <p><strong>Answer:</strong> <%= @flashcard.answer %></p>
</div>

<div class="flashcard-actions">
    <%= link_to 'Edit Flashcard', edit_flashcard_set_flashcard_path(@flashcard_set, @flashcard), class: 'btn btn-primary' %>
    <%= link_to 'Delete Flashcard', flashcard_set_flashcard_path(@flashcard_set, @flashcard), method: :delete, data: { confirm: 'Are you sure you want to delete this flashcard?' }, class: 'btn btn-danger' %>
    <%= link_to 'Back to Flashcard Set', flashcard_set_path(@flashcard_set), class: 'btn btn-secondary' %>
</div>
