<nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
  <div class="container-fluid">
    <%= link_to "Flashcard App", root_path, class: "navbar-brand text-white" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="navbar-text d-flex align-items-center text-white">Welcome, <%= current_user.email %></span>
          </li>
          <li class="nav-item">
            <%= link_to "My Collections", collections_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Flashcard Sets", flashcard_sets_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "All Collections", all_collections_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link text-white", data: { turbo_method: :delete } %>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
